@{
    ViewBag.Title = "sendSMSUsingAPI";
}

<div class="jumbotron">
    <h1>SMS Sent</h1>
    <p class="lead">Description...please click below to go to home page.</p>
</div>
<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Contact")'">HOME</button>

