@model PhoneBook.Models.sendMessage

@{
    ViewBag.Title = "sendMessage";    
}

<div class="jumbotron">
    <h1>New Message Screen</h1>
    <p class="lead">Description...please click to send message</p>
</div>
<div class="form-group">
    <label for="compose" style="font-size:small;">Compose</label>
    <textarea class="form-control" rows="5" id="compose" >
        @ViewBag.ran
    </textarea>
</div>
<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("sendSMSUsingAPI", "Contact")'">Send SMS</button>
<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("contactList")'">Back</button>